[Unit]
Description=bruteban
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/bruteban/main.py
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
User=$USER
WorkingDirectory=/opt/bruteban

KillSignal=SIGTERM
TimeoutStopSec=15

StandardOutput=journal
StandardError=journal

#NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target